.left-component{
 
    position: relative;
    /* display: block; */
    height: 80%;
    width: 29%;
    /* padding-bottom: 30%; */
    background-color: rgb(206, 185, 226);

    border-style: dotted;
    align-content: flex-start;
}