:host {
    display: block;
    background: rgb(97, 84, 84);
    padding: 10px;
    width: 30%;
    height: 20%;
    margin:2%;
    cursor: pointer;
  }
  
  :host:hover {
    background: #ddd;
  }
  /* .btn3{
    display: inline-block;
    background: rgb(77,7,7);
    padding: 10px;
    width: 30%;
  } */