:host {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 75%;
    padding: 20px 10px;
    background: #ccc;
    margin-top: 12%;
  }
  
  :host.is-open {
    display: block;
  }