:host {
    display: block;
    background: #ccc;
    padding: 10px;
    width: 30%;
    height: 20%;
    margin:2%;
    cursor: pointer;
    margin-top: 10%;
  }
  
  :host:hover {
    background: #ddd;
  }
  /* .btn2{
    display: inline-block;
    background: rgb(77,7,7);
    padding: 10px;
    width: 30%;
    height: 20%;
  } */