.container {
    /* position: relative; */
    box-sizing:border-box ;
    display: inline-block;
    position: absolute;
    /* display:inline-block; */
    width: 100%;
    height: 100%;
  
    padding: 10px;
    border: 1px solid #ccc;
  }
/* .header{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30%;
  background-color: cadetblue;
  border: 1px solid coral;
}

.left{
  position: relative;
  display: block;
  width:30%;
  height: 70%;
  background-color: cornflowerblue;
  border: 1px solid royalblue;
  margin-right:1%;
}
.center{
  width:70%;
  height: 70%;
  background-color: slategray;
  border: 2px solid gainsboro ;
} */