
<div class="container">

<app-header-component ></app-header-component>
<!-- <app-left-component></app-left-component> -->
<br>

<app-button1-component [center1]="center1"></app-button1-component>
<app-center1-component #center1></app-center1-component>
<app-button2-componene [center2]="center2"></app-button2-componene>
<app-center2-component #center2></app-center2-component>
<app-button3-component [center3]="center3"></app-button3-component>
<app-center3-component #center3></app-center3-component>

<!-- <app-center-component></app-center-component> -->
   
  <!-- <app-button1-component [center1]= "center1"></app-button1-component>
  <app-center1-component #center1></app-center1-component>
  <app-button2-componene [center2]= "center2"></app-button2-componene>
  <app-center2-component #center2></app-center2-component>
  <app-button3-component [center3]="center3"></app-button3-component>
  <app-center3-component #center3></app-center3-component> -->

  
</div>
