 :host {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 75%;
    padding: 20px 10px;
    background: lightgrey;
    margin-top:12%;
  }
  
  :host.is-open {
    display: block;
  } 
  /* .c3-content{
    position: relative;
  display: block;
  background-color: cadetblue;
  width: 70%;
  height: 80%;
  align-self: center;
  margin-left: 30%;
  } */