/* .headercomponent{
  position: relative;
  display: block;
  height: 30%;
  width: 100%;
  background-color: rgb(206, 185, 226);
  margin-bottom: 2%;
  border-style: dotted;
  
}  */
:host{
  box-sizing:border-box ;
  display: block;
  position: absolute;
  width: 90%;
  height: 22%;
  padding: 20px 10px;
  background: aquamarine;
  margin-bottom: 0%;
}
 