:host {
    box-sizing: border-box;
    display: none;
  position: absolute;
    right: 0;
    top: 0;
    width: 65%; 
     height: 75%; 
     padding: 2px 1px;
    background: aliceblue;
    margin-top: 12%;
  }
  
  :host.is-open {
    display: block;
  } 
  /* .c2-content{
    display: block;
    position: relative;
    width: 70%;
    height: 80%;

  } */