<div class="centerc">
<!-- <app-center1-component *ngIf="isOpen"></app-center1-component>
<app-center2-component *ngIf="isOpen"></app-center2-component>
<app-center3-component *ngIf="isOpen"></app-center3-component> -->
</div>