:host {
    display: block;
    width: 30%;
    height: 20%;
    align-self: center;
    background: rgb(77, 7, 7);
    padding: 10px;
    margin:2%;
    cursor: pointer;
  }
  
  :host:hover {
    background: rgb(194, 90, 90);
  }
  /* .btn1{
    display: inline-block;
    background: rgb(77,7,7);
    padding: 10px;
    width: 30%;
  } */